* {
    color: #242E3C;
}
body {
	background-color: #FFFFFF;
}
.waves {
	position: absolute;
	inset: 0;
	z-index: -2;
}
.container h2 {
	padding: 2em 2em 0 2em;
	color: #525252;
}
.footer {
    margin-top: -11rem;
}