* {
    color: #242E3C;
}
body {
    background-color: #FFFFFF;
}
.waves h1 {
    font-size: 4rem;
    font-family: 'Baloo Thambi 2', cursive;
    margin-top: 0;
    background-color: #FFDAB9;
    text-align: center;

}   
.waves p {
    font-size: 1.3em;
    font-family: 'Baloo Thambi 2', cursive;
    margin-top: 0;
    background-color: #FFDAB9;
    text-align: center;
}
.waves svg{
    display: block;
}
.container-gallery {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: .5rem;
}
.container-gallery h2 {
    font-size: 2.7rem;
    margin-left: 10rem;
}
.card-container {
    padding: 3em;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2em;
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;
}
.card {
    border-radius: .5rem;
}
.card-body img {
    width: 15rem;
    object-fit: contain;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-description {
    text-align: center;
    padding: .4em 1rem .5em .5em;
    font-weight: bold;
}
.footer {
    margin: -9rem -11rem -11rem -11rem;
    z-index: -1;
}