* {
	margin: 0;
	padding: 0;
	font-family: helvetica;
}
.navigation {
	display: flex;
	position: sticky;
	top: 0;
	justify-content: space-between;
	padding: 1rem;
	z-index: 1;
	background-color: white;
	opacity: .8;
}
.nav-ul {
	display: flex;
	margin-left: 5rem;
}
li {
	list-style: none;
}
.nav-login {
	display: flex;
	margin-right: 5rem;
}
.nav-link {
	padding: .9em;
	list-style: none;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 16px;
	border-radius: .3rem;
}
.nav-link:hover {
	padding: 1em;
	background-color: #FFDAB9;
	transition: .3s;
}
@media only screen and (max-width: 600px) {
	.nav-ul {
		margin-left: 0rem;
	}
	.nav-login {
		margin-right: 0rem;
	}
}